server:
  port: ${SERVER_PORT}

spring:
  profiles:
    active: ${ACTIVE_PROFILE:dev}
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: false
      httpclient:
        connect-timeout: 2000
        response-timeout: 5s
      routes:
        - id: event-manager-route
          uri: http://event-manager:8081
          predicates:
            - Path=/users/**, /events/**, /locations/**, /telegram/**
        - id: event-notificator-route
          uri: http://event-notificator:8082
          predicates:
            - Path=/notifications/**

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: ${EUREKA_CLIENT_SERVICE_URL_DEFAULT_ZONE:http://localhost:8761/eureka/}
